#body
{
    background: violet;
    color: black;
    text-align: middle;
    font-family: "Arial";
    font-size: 16px;
    margin: 0 auto;
    padding: 0;
}

#container #cabecera
{
    background: #33a url("../imagenes/tesla.png") 15px 15px no-repeat center;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.75);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5cm 0 0.5em 2em;

}

#container #cabecera #logo
{
    width: 20px;
    vertical-align: middle;
}

#container #cabecera #tagline
{
    padding: 0 0 0 1em;
    font-weight: bold;
    font-size: 0.8em;
}

#container
{
    width: 70%;
    padding: 0;
    text-align: middle;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#container #cabecera #h1
{
    font-size: 20px;
}

#container #cabecera #footer
{
    background: #777;
    color: white;
    vertical-align: middle;
}